<?xml version="1.0"?>
<config>
    <modules>
        <YSRTech_DeeplTranslation>
            <version>1.0.1</version>
        </YSRTech_DeeplTranslation>
    </modules>

    <global>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <ysrtech_deepltranslation_category_modal>
                        <type>singleton</type>
                        <class>ysrtech_deepltranslation/observer</class>
                        <method>appendCategoryTranslateModal</method>
                    </ysrtech_deepltranslation_category_modal>
                    <ysrtech_deepltranslation_product_modal>
                        <type>singleton</type>
                        <class>ysrtech_deepltranslation/observer</class>
                        <method>appendProductTranslateModal</method>
                    </ysrtech_deepltranslation_product_modal>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <helpers>
            <ysrtech_deepltranslation>
                <class>YSRTech_DeeplTranslation_Helper</class>
            </ysrtech_deepltranslation>
        </helpers>
        <models>
            <ysrtech_deepltranslation>
                <class>YSRTech_DeeplTranslation_Model</class>
            </ysrtech_deepltranslation>
        </models>
        <blocks>
            <ysrtech_deepltranslation>
                <class>YSRTech_DeeplTranslation_Block</class>
            </ysrtech_deepltranslation>
        </blocks>
        <resources>
            <ysrtech_deepltranslation_setup>
                <setup>
                    <module>YSRTech_DeeplTranslation</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </ysrtech_deepltranslation_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <ysrtech_deepl>
                <use>standard</use>
                <args>
                    <module>YSRTech_DeeplTranslation</module>
                    <frontName>ysrtech_deepl</frontName>
                </args>
            </ysrtech_deepl>
        </routers>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <YSRTech_DeeplTranslation before="Mage_Adminhtml">YSRTech_DeeplTranslation_Adminhtml</YSRTech_DeeplTranslation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ysrtech_deepltranslation>
                    <file>ysrtech_deepltranslation.xml</file>
                </ysrtech_deepltranslation>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ysrtech_deepltranslation>
                                            <title>DeepL Translation</title>
                                        </ysrtech_deepltranslation>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <ysrtech_deepltranslation>
            <general>
                <enabled>1</enabled>
                <show_edit_buttons>1</show_edit_buttons>
                <formality>prefer_more</formality>
                <product_attributes>name,description,short_description</product_attributes>
                <category_attributes>name,description,short_desc</category_attributes>
            </general>
            <cron>
                <enabled>0</enabled>
                <cron_expr></cron_expr>
            </cron>
        </ysrtech_deepltranslation>
    </default>

    <crontab>
        <jobs>
            <ysrtech_deepltranslation_translate>
                <schedule>
                    <config_path>ysrtech_deepltranslation/cron/cron_expr</config_path>
                </schedule>
                <run>
                    <model>ysrtech_deepltranslation/cron::run</model>
                </run>
            </ysrtech_deepltranslation_translate>
        </jobs>
    </crontab>
</config>
